body {
  background: #000000; }
  @media screen and (min-height: 957px) {
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; } }

.wrapper {
  width: 100%;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  background-image: linear-gradient(to top, #010d1f, #1e1523, #2f1c23, #392724, #3e3429);
  overflow: hidden;
  color: #ffc75f;
  height: 100%; }
  @media screen and (min-height: 957px) {
    .wrapper {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; } }

iframe {
  display: none;
  height: 100vh; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px; }
  .header__avatar {
    width: 160px;
    height: 200px;
    margin-right: 10px;
    border-radius: 15px; }
  .header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .header__contact {
    border-bottom: solid;
    border-color: #999999; }
    .header__contact-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px; }

.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  margin-bottom: 7vw;
  margin-top: 2vw; }
  .education__arrow-up {
    display: none; }
  .education__caption {
    display: block;
    border-bottom: solid;
    border-color: #999999;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  .education table {
    border-collapse: collapse;
    display: none; }
    @media screen and (max-width: 1000px) {
      .education table {
        font-size: 18px; } }
    @media screen and (max-width: 500px) {
      .education table {
        font-size: 12px; } }
    .education table tr {
      border-bottom: 3px solid #999999; }
  .education__period {
    width: 15%;
    text-align: center; }
  .education__name {
    width: 50%; }

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 80%;
  border-radius: 40px;
  background-image: linear-gradient(to bottom, #010d1f, #1e1523, #2f1c23, #392724, #3e3429); }
  @media screen and (max-width: 800px) {
    .projects {
      font-size: 25px; } }
  .projects__slides {
    padding: 4%; }
  .projects__slide {
    opacity: 0.9; }
    .projects__slide img {
      width: 100%; }
    .projects__slide-description {
      position: relative;
      opacity: 1;
      bottom: 0vw;
      color: #ffffff;
      right: -1.5vw; }
      @media screen and (max-width: 700px) {
        .projects__slide-description {
          font-size: 16px; } }
    .projects__slide-link {
      position: relative;
      opacity: 1;
      bottom: -37vw;
      color: #ffffff;
      right: -1vw; }
      .projects__slide-link:hover {
        color: #ffc75f; }
      @media screen and (max-width: 700px) {
        .projects__slide-link {
          font-size: 12px; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.button {
  width: 20%;
  height: 50px;
  display: inline-block;
  margin: 25px 3%;
  border-radius: 6px;
  color: #ffffff;
  background-color: #3e3429;
  text-align: center;
  line-height: 50px;
  left: 40%;
  cursor: pointer; }
  .button:hover {
    background-color: #ffc75f;
    color: #000000; }
  @media screen and (max-width: 375px) {
    .button:first-child {
      display: none; } }

/*# sourceMappingURL=index.css.map */
